/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audela:wght@700&display=swap');

/* Font Faces */
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: bold;
    src: url('https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2') format('woff2');
}

@font-face {
    font-family: 'audela';
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/audela/Audela-Trial-Semibold.woff2") format('woff2');
}

/* Body Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header Styles */
h1, .primary-header {
    font-family: 'audela', sans-serif;
}

/* Secondary Header Styles */
h2, .secondary-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; /* This will make the font bold */
    font-size: 24px; /* Adjust size as needed */
}

/* Bold Font Styles */
.bold-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; /* This will make the font bold */
}


/* Misc Classes */
.outer-container {
    display: flex;
    flex-flow: column wrap;
}

.portfolio-item {
    color: #262626;
    background-color: #f2f2f2;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}


.primary-header {
    color: #000000;
    padding: 15px;
    margin-bottom: 50px;
}

.primary-header a {
    float: left;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px;
}

.primary-header a.name {
    font-size: 70px;
    font-weight: bold;
}


.primary-header-links {
    float: right;
    color: #D7D2CB;
    font-size: 35px;
}

/* Mobile Styles */
@media screen and (max-width: 570px) {
    .primary-header a {
        float: none;
        display: block;
        text-align: left;
        padding: 8px;
    }

    .primary-header a.name {
        line-height: 70px;
    }

    .primary-header-right {
        float: none;
    }
}
