/* FONTS WAHOOO!!! */
@font-face {
    font-family: 'brasley';
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/brasley/Brasley-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'brasley';
    font-weight: 700;
    font-style: bold;
    src: url("../assets/fonts/brasley/Brasley-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'audela';
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/audela/Audela-Trial-RegularItalic.woff2") format('woff2');
}

body {
    font-family: 'brasley';
    background-color: #D7D2CB;
    padding: 25px;
}

h1 {
    font-family: 'brasley';
}

h2 {
    font-family: 'brasley';
}


p {
    font-family: 'brasley';
}


/*
~~~~~~~~~~~~~~~~~~
MISC CLASSES
~~~~~~~~~~~~~~~~~~
*/

.outer-container {
    display: flex;
    flex-flow: column wrap;
}

.portfolio-item {
    background-color: #1a1a1a;
    padding: 12px;
}

/*
~~~~~~~~~~~~~~~~~~
HEADER TEXT
~~~~~~~~~~~~~~~~~~
*/
.primary-header {
    background-color: #0400f5;
    color: #D7D2CB;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 150px;
}

.primary-header a {
    float: left;
    color: #D7D2CB;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px;
}

.primary-header a.name {
    font-size: 70px;
    font-weight: bold;
}

.primary-header a:hover,
a:active {
    background-color: #D7D2CB;
    color: #1a1a1a;
}

.primary-header-links {
    float: right;
    color: #D7D2CB;
    font-size: 35px;
}

/*
~~~~~~~~~~~~~~~~~~
MARQUEE TEXT
~~~~~~~~~~~~~~~~~~
*/
.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 2rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    color: #1a1a1a;
}

.marquee:hover {

	color: #D7D2CB;
    background-color: #1a1a1a;
    transition: step-end;
}

.marquee__group {
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    animation: scroll 45s linear infinite reverse;
}

.marquee__group span {
    padding: 5px;
    font-size: 100px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'audela';
    font-style: italic;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

/*
~~~~~~~~~~~~~~~~~~
MOBILE
~~~~~~~~~~~~~~~~~~
*/

@media screen and (max-width: 570px) {
    .primary-header a {
        float: none;
        display: block;
        text-align: left;
        padding: 8px;
    }

    .primary-header a.name {
        line-height: 70px;
    }

    .primary-header-right {
        float: none;
    }

    .marquee__group span {
        font-size: 15vw;
    }
}