---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>Hello, welcome to my website!</h1>
            <p>
                Thanks for stopping by! This website is still under construction,
                please check back later for updates.
            </p>
        </main>
        <Footer />
    </body>
</html>
