---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="https://www.linkedin.com/in/michael-letterio">LinkedIn →</HeaderLink>
			<HeaderLink href="https://github.com/mletterio">GitHub →</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 2.1em;
		background: white;
	}
	h2 {
		font-weight: var(--font-weight-semibold);
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: left;
		line-height: 1.25em;
		gap: 1.5em;
		padding: 0.25em;
	}

	.internal-links {
		display: flex;
		gap: 0.85em;
		font-size: 1.4em;
		border-top: 2px solid var(--gray-dark);
		padding-top: 0.4em;
		flex-grow: 1;
		justify-content: flex-start;
		box-sizing: border-box;
	}

	nav a {
		color: var(--black);
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
	}

	/* Mobile adjustments */
	@media (max-width: 870px) {
		
		header {
			margin: 0.75em
		}

		h2 {
			font-size: 2.2em;
		}

		nav {
			flex-direction: column;
			align-items: flex-start;
			gap: 0.25em;
		}

		.internal-links {
			flex-direction: row;
			gap: 0.75em;
			width: 100%;
		}

		nav a {
			font-size: 1.0em;
		}
	}
</style>
